@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-main: #fff;
    --color-submain: #F1FDFF;
    --color-contacts: #F9FADF;
    --color-button-main: #7AE5FD
}