/*  Перша секція */
.hero{
    align-items: center;
    background-image: url(../images/hero_image.png);
    background-size: cover; 
    background-position: bottom; 
    background-repeat: no-repeat; 
    height: 100vh;
    margin-top: 0.18vh;
    font-size: 16px;
}

.hero__content{
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    width: 30%;
    padding-left: 6.5em;
}

.hero__content h1{
    font-size: 3.5em;
    color: white;
}

.hero__content p {
    font-size: 1.25em;
}

.hero__content__cta{
    background-color: white!important;
    width: 16em;
    height: 4em;
}

.hero__content__cta:hover{
    background-color: rgb(249, 250, 223)!important;
}

@media (max-width: 1080px) {
    .hero {
        font-size: 14px;
    }
}

@media (max-width: 930px) {
    .hero {
        font-size: 12px;
    }
}

@media (max-width: 810px) {
    .hero {
        font-size: 12px;
        background-position: center;
    }

    .hero__content {
        width: 40%;
    }
}

/*  Друга секція */
.about-us{
    height: 80vh;
    align-items: center;
    font-size: 16px;
}

.about-us__content{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 15%;
}

.about-us__content h2 {
    font-size: 3.75em;
    padding-bottom: 1rem;
}

.about-us__content h4 {
    font-size: 1.6em;
    padding-bottom: 0.5rem;
}

.about-us__content p {
    font-size: 1.25em;
    color: #73A6B1;
}

@media (max-width: 1195px) {
    .about-us {
        font-size: 14px;
    }
}

@media (max-width: 1050px) {
    .about-us {
        font-size: 12px;
    }
}

@media (max-width: 890px) {
    .about-us {
        font-size: 11px;
    }
}

@media (max-width: 810px) {
    .about-us {
        font-size: 10px;
    }
}

/*  Третя секція */
.info{
    flex-direction: column;
    align-items: center; 
    gap: 5vh;
    font-size: 16px;
}

.info__item{
    display: flex;
    background-color: var(--color-submain);
    margin: 0 5vw;
}

.info__item__cta {
    margin-bottom: 10em;
    width: 16em;
    height: 4em;
}

.info__item__content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5vw;
    padding: 5vh 4vw; 
}

.info__item__content__text{
    width: 40%;
}

.info__item__content__text h3{
    font-size: 2.5em;
    padding-bottom: 0.6em;
}

.info__item__content__text p{
    font-size: 1.25em;
}

.info__item__content__image{
    max-width: 50%;
}

@media (max-width: 1190px) {
    .info {
        font-size: 14px;
    }
}

@media (max-width: 1050px) {
    .info {
        font-size: 12px;
    }
}

@media (max-width: 890px) {
    .info {
        font-size: 10px;
    }
}

/* Четверта секція */
.our-mission{
    justify-content: center;
    align-items: center;
}
.our-mission__content{
    position: relative;
    background-color: var(--color-submain);
    width: 80%;
    margin: 25vh 0;
}

.our-mission__content p{
    font-size: 28px;
    padding: 3.2em 0 3.2em 2.1714em;
    width: 50%;
}

.our-mission__content img {
    position: absolute;
}

#smiley-kids {
    bottom: 0;
    left: 60%;
    width: 35%;
    z-index: 1;
}

#vector{
    bottom: 5%;
    left: 55%;
    width: 45%;
    z-index: 0;
}

@media (max-width: 1035px) {
    .our-mission__content p{
        font-size: 20px;
    }
}

@media (max-width: 940px) {
    .our-mission {
        font-size: 10px;
    }
}

/* П'ята секція */
.donation{
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 16px;
    gap: 3em; 
}

.donation__title{
    position: relative;
    top: 0;
}

.donation__title h2 {
    font-size: 3.75em;
    padding-bottom: 0.2em;
}

.donation__title p {
    font-size: 1.25em;
    color: #73A6B1;
}

.donation__goal{
    font-size: 1.7em;
} 

.donation__goal__current-sum {
    display: flex;
    justify-content: center;
}

.donation__goal__current-sum p {
    font-size: 3.75em;
}

.border-line{
    border: 1.5px solid #9AD2DE;
    margin: 0 0.3em;
}

.donation__cta {
    background-color: var(--color-button-main);
    width: 16em;
    height: 4em;
    margin-bottom: 10em;
}

@media (max-width: 1020px) {
    .donation {
        font-size: 13px;
    }
}

@media (max-width: 920px) {
    .donation {
        font-size: 11px;
    }
}

@media (max-width: 850px) {
    .donation {
        font-size: 10px;
    }
}


