@import url(reset.css);
@import url(base.css);
@import url(header.css);
@import url(body.css);
@import url(footer.css);

html {
    font-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: black;
    background-color: var(--color-main);
    /* box-sizing: border-box; */
}

h1 {
    font-weight: 800;
}

h1, h2, h3 {
    text-transform: uppercase;
}

.button-common-blue {
    text-transform: uppercase;
    background-color: var(--color-button-main);
    border-radius: 4.8em;
}

.button-common-blue:hover{
    background-color: #4ec1eb;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.311); 
}

header, section, footer {
    display: flex;
}
